{% assign limit = site.paginate_limit %}
{% assign limitmin = limit | minus: 2 %}
{% assign offset = limitmin | divided_by: 2 %}
{% assign limitprev = paginator.page | minus: offset %}
{% assign limitnext = paginator.page | plus: offset %}
{% assign totalpages = paginator.total_pages %}

{% if limitprev <= 1 %}
{% assign limitprevfix = limitprev | minus: 1 %}
{% assign limitprev = 0 %}
{% assign limitnext = limitnext | minus: limitprevfix | plus: 1 %}
{% endif %}

{% if limitnext >= totalpages %}
{% assign limitnextfix = totalpages | minus: limitnext | minus: 1 %}
{% assign limitnext = totalpages %}
{% assign limitprev = limitprev | plus: limitnextfix %}
{% endif %}

{% assign dots_prev = limitprev | minus: 1 %}
{% assign dots_next = totalpages | minus: 1 %}
{% assign max_next = totalpages | minus: offset | minus: 1 %}

{% for count in (2..paginator.total_pages) %}
    {% if count == dots_prev  %}
        {% assign indicator_first = ' pages-indicator--active' %}
    {% endif %}
    {% if count == dots_next and paginator.page < max_next %}
        {% assign indicator_last = ' pages-indicator--active' %}
    {% endif %}
    {% if forloop.first %}
        {% assign relative_first = paginator.page | minus: forloop.index | divided_by: 1 %}
    {% endif %}
    {% if forloop.last %}
        {% assign relative_last = paginator.page | minus: forloop.index | replace: '-', '' | divided_by: 1 | plus: 1 %}
    {% endif %}
{% endfor %}

<ul class="pagination">

    {% if paginator.previous_page %}
    <li class="previous">
        {% if paginator.previous_page == 1 %}
        <a href="/blog"> &laquo; previous</a>
        {% else %}
        <a href="{{ paginator.previous_page_path }}">&laquo; previous</a>
        {% endif %}
    </li>
    {% endif %}

    {% unless paginator.page == 1 %}
    <li class="page first">
        <a href="/blog">1</a>
    </li>
    <li class="pages-indicator{{ indicator_first }} pages-indicator--offset-{{ relative_first }}">...</li>
    {% else %}
    <li class="page first current-page">
        <span>1</span>
    </li>
    {% endunless %}

    {% for count in (2..paginator.total_pages) %}
        {% if count >= limitprev and count <= limitnext %}
            {% assign relative_to_current = paginator.page | minus: count | replace: '-', '' | divided_by: 1 %}
            {% unless count == totalpages %}
                <li class="page offset-{{relative_to_current}}{% if count == paginator.page %} current-page{% endif %}">
                    {% if count == paginator.page %}
                    <span>{{ count }}</span>
                    {% else %}
                    <a href="/blog/page{{ count }}">{{ count }}</a>
                    {% endif %}
                </li>
            {% endunless %}
        {% endif %}
    {% endfor %}

    {% unless paginator.page == totalpages %}
    <li class="pages-indicator{{ indicator_last }} pages-indicator--offset-{{ relative_last }}">...</li>
    <li class="page last">
        <a href="/blog/page{{ totalpages }}">{{ totalpages }}</a>
    </li>
    {% else %}
    <li class="page last current-page">
        <span>{{ totalpages }}</span>
    </li>
    {% endunless %}

    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path }}">next &raquo;</a>
    </li>
    {% endif %}
</ul>