// Cosmetic
@if $pages-cosmetics == true {
  .pagination {
    padding: 0;
    margin: $pages-margin;
    text-align: center;

    li {
      margin: $pages-item-margin;
      padding: 0;
      list-style: none;

      .pagination-item {
        text-decoration: none;
      }

      &.page {
        .pagination-item {
          width: $pages-item-size;
          height: $pages-item-size;
          border-radius: $pages-item-size;
          line-height: $pages-item-size;
          background: $pages-item-background;
          color: $pages-item-color;
          box-shadow: $pages-item-shadow;

        }
        a:hover {
          background: $pages-item-hover;
        }

        &.current-page {
          .pagination-item {
            background: $pages-item-active;
            box-shadow: $pages-item-active-shadow;
            color: $pages-item-active-color;
          }
        }
      }

      &.current-page,
      &.previous,
      &.next {
        a:hover,
        a:focus {
          text-decoration: underline;
        }
      }
    }
  }
}